<app-navbar>
</app-navbar>
<div class="container" style="margin-top: 100px;">
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
    <!-- <ul>
        <li *ngFor="let u of users">{{u.id}} -{{u.userName}}</li>


        <div ng-controller="CreditCardController">
            <div style="float: left">
                <i class="fa fa-3x fa-cc-mastercard" ng-style="mastercard"></i>
                <i class="fa fa-3x fa-cc-visa" ng-style="visa"></i>
                <i class="fa fa-3x fa-cc-amex" ng-style="amex"></i>
            </div>
            <br style="clear: both" />
            <input type="text" id="p" (keypress)="IsNumeric($event)" (change)="setValor($event.target)">
            <input type="text" ng-model="creditcard" (change)="getCardType($event)" style="width: 200px; font-size: 20px; padding: 10px" />
        </div>
    </ul> -->
</div>